* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}

body {
    background-color: white;
    background-image: url('./Symbol\ 3\ copy.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.pump {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pump-body>.body-img {
    cursor: pointer;
    height: 150px;
    z-index: 1;
}

.pump-body {
    position: relative;
    left: 80%;
    top: 60%;
    width: 80px;
    margin: 0;
    z-index: 2;
}

.pump-head>.head-img {
    height: 80px;
    cursor: pointer;
}

.pump-head {
    position: relative;
    left: 84%;
    top: 12%;
    width: 80px;
    margin: 0;
}

.pump-hand>.hand-img {
    height: 80px;
    cursor: pointer;
}

.pump-hand {
    position: relative;
    left: 76%;
    top: 12%;
    width: 80px;
    margin: 0;
}


.pumping{
    margin: 0;
}

img.vert-move {

    animation: mover 0.5s infinite alternate;
}


@keyframes mover {
    0% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(23px);
    }
    100% {
        transform: translateY(25px);
    }
}

img.body-move {
    animation: body 0.5s infinite alternate;
}

@keyframes body {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(8px);
    }
}





.balloon>img{
    position: absolute;
    width: 60px;
    left: 620px;
    top: 20%;
}


.balloon{
    animation: balloons 6s infinite alternate;
    width: 60px;
   
}


@keyframes balloons {
   0%{
    transform: translateY(0px) translateX(-30px);
    }

 100%{
    transform: translateY(10px) translateX(3px);
 }
  
}
